.lead-top-bg{
    background-image: url('https://res.cloudinary.com/dso2i7fz5/image/upload/v1700843979/fastfood_bg_mrcjw9.jpg');
    background-size: cover;
    height: 50vh;
    text-align: center;
    padding-top: 50px;
}

.head{
    color: red;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Harrington;
    font-size: 100px;
}

.res-tag{
    font-family: "Segoe Script";
    color: rgb(241, 248, 255);
    font-size: 20px;
    background-color:black;
}

.nav-bar-text{
    color: white;
    
}

.lead-bottom{
    padding-left: 20px;
}
.about-us-container{
   margin: 10px;
}

.about-us-head{
    color:goldenrod;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 6a0px;

}

.weight-bold{
    font-weight: bold;
}

.about-us-para{
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.menu-head{
    color: rgb(156, 50, 142);
    font-weight: bold;
    padding-top: 70px;
    padding-left: 5px;
    
}

.iteam-container{
    padding: 30px;
    text-align: center;
}
.iteam-image{
    height: 180px;
    width: 180px;
    border-radius: 30px;
}

.iteam-name{
    color: crimson;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

.iteam-verities{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.iteam-price{
    color: green;
    font-size: 15px;
    font-weight:bold;
}

.names{
    padding-left: 10px;
    text-align: center;
}

.contact-us{
    color: rgb(7, 64, 121);
    font-weight: bold;
    padding-top: 80px;
    font-size: 40px;
    padding-bottom: 30px;
    text-align:center;
    text-decoration: underline;
    
}

.timings-head{
    color: rgb(243, 20, 20);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.time{
    color: black;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.follow-img{
    width: 650px;
    height: 280px;
    text-align: center;
    border-radius: 70px;
    padding-bottom: 50px;
}